.corpoHome {
	margin: 0px;
}
.Banner {
	position:relative;
	width: 100%;
}
.img_banner {
	margin-top: -1.12em;
	border-bottom: 1px solid black
}

.italico {
	font-style: oblique;
	font-weight: bold
}

article.disciplinas {
	margin-right: 1em;
	width: 50%;
	border-bottom: 1px solid black;
	padding: 0.6em;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 1em;
	float: center;
    margin-left:25%; 
    margin-right:15%;
}
h1.disciplinas {
	text-align: center;
	color: #1c488e;
	-webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
	float: center;
}
p.disciplinas {
	-webkit-margin-before: 0.6em;
    -webkit-margin-after: 0.3em;
	text-align: justify;
	float: center;
}

tr.linelgrey {
  background-color: grey;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0px 20px;
    border-collapse: collapse;
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
}