.t1{
 color:purple;	
}
.it{
	font-family:italic;
	text-align: right;
	}
.it:link{
	color:blue;
}
.it:visited{
	color:green;
}
.it:hover{
	color:pink;
}
.it:active{
	color:gold;
}
.margin {
	margin-top: 5em;
	margin-left: 1em;
}
